<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ListesCoursesV2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>editJSP</servlet-name>
  	<jsp-file>/WEB-INF/pages/edit.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>editJSP</servlet-name>
  	<url-pattern>/edit.html</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>viewJSP</servlet-name>
  	<jsp-file>/WEB-INF/pages/view.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>viewJSP</servlet-name>
  	<url-pattern>/view.html</url-pattern>
  </servlet-mapping>
</web-app>