<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TPRechercherNombre</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>ServletRechercherNombre</servlet-name>
  	<servlet-class>fr.eni.TPRechercherNombre.ihm.ServletRechercherNombre</servlet-class>
  	<init-param>
  		<description>Valeur minimum</description>
  		<param-name>min</param-name>
  		<param-value>6</param-value>
  	</init-param>
  	<init-param>
  		<description>Valeur maximum</description>
  		<param-name>max</param-name>
  		<param-value>12</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ServletRechercherNombre</servlet-name>
  	<url-pattern>/trouverNombre</url-pattern>
  </servlet-mapping>
</web-app>